<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
	<string>1</string>
	<key>CHANNEL</key>
	<string>xiaoyixiu</string>
	<key>APP_KEY</key>
	<string>0d73415e156cad30da2a8bc3</string>
</dict>
</plist>
